/*-----------------------
| CSS for General Styling|
------------------------*/

/* SITE-WIDE ELEMENTS: */
body {
  background-color: lightyellow;
  background-image: url('../images');
  background-repeat: repeat-x;
  background-attachment: fixed;
}
h1, span {
  margin: 0;
  font-family: "Pacifico"
  color:lightgreen;
  text-align: center;
}
h3 {
  font-family:
}
